@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    color: #fff;
}

body {
    font: 'Roboto', sans-serif;
    background-color: #c8c8b8;
}

img {
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 80px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 80px;
}

.navbar-collapse {
    background-color: rgba(248, 249, 250);
    text-align: center;
    justify-content: center;
    margin-left: 50%;
}

.nav-link {
    background-color: rgba(248, 249, 250);
    width: auto;
}

.inicio,
.sobre-mim,
.skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inicio {
    background-image: linear-gradient(62deg, #143d3b 28%, #64b83d 100%);
}

.inicio span {
    font-size: 36px;
}

.titulo {
    font-size: 60px;
    color: #fff;
}

.sobre-mim,
.projetos {
    background-color: #143d3b;
}

.sobre-mim p {
    padding: 0 20%;
    margin: 0.1em 0;
}

.skills,
.contato,
.rodape {
    background-color: #2a6b7e;
}

.projetos {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.projetos h1 {
    margin-top: 5%;
    margin-left: 10%;
}

.projetos p {
    margin: 0;
}

.primeflix {
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}

.primeflix div {
    margin-right: 100px;
}

.prime-thumb {
    max-width: 500px;
    height: 250px;
    margin-right: 5%;
}

.button {
    width: 100%;
    margin-top: 0.5em;
    border-radius: 4px;
    padding: 8px;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 18px;
    background-color: #2a6b7e;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #173b1f;
    color: #fff;
}

.mais-projetos {
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #143d3b;
}

.show {
    display: flex;
}

.showmore {
    margin: auto 11%;
}

.projetos .primeflix a:not(.button .linkbutton) {
    display: flex;
    margin-top: 10px;
    border-radius: 4px;
    padding: 12px;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 16px;
    background-color: #2a6b7e;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    text-align: center;
}
.contato {
    display: flex;
    flex-direction: column;
}

.contato-secao {
    display: flex;
    flex-direction: row;
    margin: auto 30%;
    justify-content: space-between;
}

.contato h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.contato a {
    width: 100%;
    display: flex;
    border-radius: 4px;
    padding: 12px;
    border: 0;
    outline: none;
    color: #000000;
    font-size: 16px;
    background-color: #efeeee;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    text-align: center;
}

.contato-secao h3 {
    justify-content: center;
    display: flex;
}

.rodape p {
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
}

.name {
    margin-right: 55%;
}

@media (max-width: 950px) {
    .projetos h1 {
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contato-secao {
        flex-direction: column;
        margin: 20%;
    }
    .primeflix {
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }
    .prime-thumb {
        margin-top: 0.5em;
        width: 330px;
        height: 160px;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-right: auto;
        margin-left: auto;
    }
    .showmore {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 446px) {
    .inicio h1,
    span {
        margin-left: 10%;
    }

    .contato-subtitulo {
        display: block;
        margin-bottom: 0;
    }

    .rodape {
        font-size: 0.92em;
    }
}

@media (max-width: 380px) {
    .inicio h1,
    span {
        margin-left: 10%;
    }
    .projetos,
    .primeflix {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .prime-thumb {
        display: none;
    }
    .navbar {
        min-height: 90px;
    }
    .navbar-brand {
        margin-right: 10%;
    }
}

@media (max-width: 342px) {
    .prime-thumb {
        display: none;
    }
}
